.container-fluid {
  background: -webkit-radial-gradient(center center, circle farthest-side, #ffffff 0%, rgb(160 214 255) 150%);
  /* -webkit-radial-gradient(center center, circle farthest-side, #ffffff 0%, rgb(233 87 112) 150%); */
  /* rgb(255, 137, 157) 150%); */
  font-family: 'French Script MT', Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 5000px;
}

/* .bg_heart {
  height: 100vh !important;
} */

.anh-01 {
  height: 250px;
}

html,
body {
  /* height: 100%; */
}

.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -m-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 800%;
  background: inherit;
  border-radius: 100%;
}

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

@-webkit-keyframes love {
  0% {
    top: 110%
  }
}

@-moz-keyframes love {
  0% {
    top: 110%
  }
}

@-ms-keyframes love {
  0% {
    top: 110%
  }
}

@keyframes love {
  0% {
    top: 110%
  }
}

/* css heart animation big  */
canvas {
  /* position: absolute; */
  /* display: none; */
  width: 100%;
  height: 500px;
}

.canvas {
  background-color: rgb(255 214 214);
}

.footer {
  text-align: center;
}

.second-content {
  height: 250px;
  background-color: #d6d0d0;
}

.div-button-album {
  width: 100%;
}

.btn-album {
  width: 100px;
}

.video-content {
  height: 500px;
  background-color: rgb(46, 46, 46);
}

.cat-fix-posi {
  height: 100px;
  width: 100px;
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
  z-index: 15;
}